﻿@{
    ViewBag.Title = "Activities";
}
@model IEnumerable<BlackListScrapper.Models.LogModel>
    <br />
    <h4>Total Users: @ViewBag.TotalUsers    <br /> Today Active Users: @ViewBag.ActiveUser     <br />    New Users: @ViewBag.NewUser <br /> Total Host: @ViewBag.TotalHost <br /> New Host: @ViewBag.NewHost</h4>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-40">
            <h4>@(item.User.FirstName + " " + item.User.LastName) </h4>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#data@(item.User.Id)" role="button" aria-expanded="false" aria-controls="data@(item.User.Id)">
                    Activities
                </a>
            </p>
            <div class="collapse" id="data@(item.User.Id)">

                <div class="card card-body">
                    <table class="ActivityTable ui celled red table display" style="width: 100% !important">
                        <thead>
                            <tr>
                                <th>Message</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var log in @item.Activity)
                            {
                                <tr>
                                    <td>@log.Message</td>
                                    <td>@log.Datetime</td>
                                </tr>
                            }
        
                        </tbody>
                    </table>
                 
                </div>
            </div>

        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<link href="~/Content/DataTable/dataTables.semanticui.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
<script src="~/Content/DataTable/jquery.dataTables.min.js"></script>
<script src="~/Content/DataTable/dataTables.semanticui.min.js"></script>
<script>
    $(document).ready(function () {

        $.noConflict();
        $('.ActivityTable').DataTable();
    });
</script>